tags-input {
    .groupedTag {
        position: absolute;
        top: 0;
        right: 10px;
        height: 26px;
    }
    .autocompleteLoading {
        font-size: 12px;
        font-weight: bold;
    }
}
